@tailwind base;
@tailwind components;
@tailwind utilities;

.card-green {
    border-top: 0.25rem solid #44D3D2;
}

.card-red {
    border-top: 0.25rem solid #EA5454;
}

.card-orange {
    border-top: 0.25rem solid #FCAE4A;
}

.card-blue {
    border-top: 0.25rem solid #549EF2;
}
